*{
	margin:0px;
	padding:0px;
}
@font-face{
	font-family:Thin;
	src:url('../Fonts files/typoldcondensedthin.otf');
}

@font-face{
	font-family:Medium;
	src:url('../Fonts files/typoldcondensedmedium.otf');
}
body{
	width:100%;
}


/**navigation bar**/
a{
	text-decoration:none;
}
a:visited{
	color:#d3d3d3;
}
a:link{
	color:#d3d3d3;
}
a:hover{
	color:white;
}
#banner{
	background-color:#555555;
	position:fixed;
	top:0px;
	width:100%;
}
#apple-logo{
	height:28px;
	width:28px;
	display:block;
	margin:5px auto 5px auto;
}
#nav{
	list-style-type:none;
	display:inline;
}
#nav>li{
	float:left;
	margin:10px 10px 10px 10px;
	color:#f8f8ff;
	font-family:Thin;
	display:none;
}



/**Remembering part**/

#Remembering{
	padding-top:150px;
	height:300px;
	background-color:#f8f8ff;
	font-family:Medium;
}
#Remembering>h1{
	display:block;
	float:left;
	font-size:300%;
	margin-left:50px;
	font-family:inherit;
}
#Remembering>h2{
	margin:100px 80px 140px auto;
	text-align:right;
	font-size:300%;
	font-family:inherit;
}





/**Remembering footpart**/






#remember-foot{
	height:250px;
	background-color:black;
}
#remember-foot>h3{
	padding-top:50px;
	text-align:center;
	font-size:150%;
	font-family:Medium;
	color:white;
}
#date{
	margin:20px auto 20px auto;
	text-align:center;
	text-size:50%;
	font-family:Thin;
	color:white;
}
#thank-you{
	margin:20px auto 20px auto;
	text-align:center;
	color:white;
	font-family:Thin;
	text-size:60%;
}





/**Steve picture**/






#Steve-picture{
	margin-top:30px;
	width:100%;
	height:300px;
	margin-bottom:30px;
}
#Stevie{
	background-color:#f8f8ff;
	width:100%;
	margin-top:10px;
	margin-bottom:10px;
}





/**content**/





.content-pic1{
	width:100%;
	margin-bottom:5px;
	margin-top:10px;
}
.content-pic2{
	width:100%;
	margin-bottom:10px;
	margin-top:10px;
}
#content-first{
	background-color:#f8f8ff;
	text-align:center;
	font-family:Thin;
	line-height:1.6em;
	font-size:100%;
}

#content-second{
	background-color:#f8f8ff;
	text-align:center;
	font-family:Thin;
	line-height:1.6em;
	font-size:100%;
}





/**for ipads**/





@media only screen and (min-width: 768px){
	
	#apple-logo{
		float:left;
		margin:5px 20px 5px 30px;
	}
	#nav>li{
		display:block;
		margin:5px 25px 5px 25px;
	}
	#Remembering>h1{
		margin-left:100px;
	}
	#Remembering>h2{
		padding-right:100px;
	}
	.content-pic1{
		width:50%;
	}
	.content-pic2{
		width:50%;
		float:right;
		margin-top:0px;
		margin-right:30px;
	}
	#content-first{
		padding-top:30px;
		width:80%;
		margin:50px auto 50px auto;
	}
	#content-first>p{
		padding-left:50px;
		padding-right:50px;
		line-height:2.3em;
		text-align:left;
	}
	#content-second{
		padding-top:30px;
		width:80%;
		margin:50px auto 50px auto;
	}
	#content-second>p{
		padding-left:30px;
		padding-right:30px;
		line-height:2.3em;
		text-align:left;
	}
}




/**for laptops**/




@media only screen and (min-width: 1000px){
	
	#apple-logo{
		float:left;
		margin:5px 30px 5px 180px;
	}
	#nav>li{
		display:block;
		margin:5px 50px 5px 50px;
	}
	#Remembering>h1{
		margin-left:300px;
	}
	#Remembering>h2{
		padding-right:300px;
	}
	#remember-foot{
		height:300px;
	}
	#Steve-picture{
		height:850px;
	}
	.content-pic1{
		width:50%;
	}
	.content-pic2{
		width:50%;
		float:right;
		margin-top:0px;
		margin-right:30px;
	}
	#content-first{
		padding-top:30px;
		width:80%;
		margin:50px auto 50px auto;
	}
	#content-first>p{
		padding-left:50px;
		padding-right:50px;
		line-height:2.3em;
		text-align:left;
	}
	#content-second{
		padding-top:30px;
		width:80%;
		margin:50px auto 50px auto;
	}
	#content-second>p{
		padding-left:30px;
		padding-right:30px;
		line-height:2.3em;
		text-align:left;
	}
}

